.app.dark {
  --bg-color: #313133;
  --inverted-bg-color: #bfffbf;

  --primary-color: #7df5b6;
  --secondary-color: #d3cdcd;
  --inverted-primary-color: #160986;
  --inverted-secondary-color: #5e0b44;
}
