.app_dark_theme {
  --bg-color: #313133;
  --inverted-bg-color: #bfffbf;
  --primary-color: #08b987;
  --secondary-color: #d3cdcd;
  --inverted-primary-color: #ad8f10;
  --inverted-secondary-color: #5e0b44;

  // redesigned
  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;

  // skeleton
  --skeleton-color: #745f08;
  --skeleton-shadow: #54033b;

  // code
  --code-bg: #404042;

  // card
  --card-bg: #404042;

  // listbox
  --listbox-bg: #404042;
}
