.app_dark_theme {
  --bg-color: #313133;
  --inverted-bg-color: #bfffbf;
  --primary-color: #08b987;
  --secondary-color: #d3cdcd;
  --inverted-primary-color: #ad8f10;
  --inverted-secondary-color: #5e0b44;

  // skeleton
  --skeleton-color: #745f08;
  --skeleton-shadow: #54033b;

  // code
  --code-bg: #404042;
}
