.app.light {
  --bg-color: #bfffbf;
  --inverted-bg-color: #313133;

  --primary-color: #160986;
  --secondary-color: #5e0b44;
  --inverted-primary-color: #7df5b6;
  --inverted-secondary-color: #d3cdcd;
}
