.app.light {
  --bg-color: #bfffbf;
  --inverted-bg-color: #313133;
  --primary-color: #ad8f10;
  --secondary-color: #5e0b44;
  --inverted-primary-color: #08b987;
  --inverted-secondary-color: #d3cdcd;
}
